<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1> {{ pageTitle }}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-mini-fab style="margin-right:10px; " [routerLink]="['/create-doctor']"><mat-icon>add</mat-icon></button>
            <span class="title-spacer"></span>
            <mat-form-field appearance="standard" class="search-form-fileld">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
                <mat-icon>filter_list</mat-icon>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar-row>

    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let doctor">{{ doctor.completeName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="schoolNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>School Number</mat-header-cell>
            <mat-cell *matCellDef="let doctor">{{ doctor.schoolNumber }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="birthday">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</mat-header-cell>
            <mat-cell *matCellDef="let doctor">{{ doctor.birthday }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [routerLink]="['/medical-information/', row.id]" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</mat-card>