<div class="main-container">
    <mat-card [routerLink]="['/patient', id]" class="card-item">
        <mat-card-title>
            <mat-icon>search</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>Search Patients</mat-card-subtitle>
    </mat-card>
    <mat-card [routerLink]="['/medical-information', id]" class="card-item">
        <mat-card-title>
            <mat-icon>info</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>My Info</mat-card-subtitle>
    </mat-card>

</div>