.title-spacer {
    flex: 1 1 auto;
  }

  .search-form-fileld {
    margin-right: 20px;
}

mat-row:nth-child(even) {
  background-color: #f9f7fc;
}


mat-row:hover {
  background-color: #DCDCDC;
  cursor: pointer;
}